include README.md LICENSE examples/github_status.json
recursive-include charcoal *.yapsy-plugin
recursive-include docs *.md
recursive-include examples *.json
recursive-include examples *.yaml
recursive-include tests *.json
recursive-include tests *.yaml